<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257673925904-mbis2ek8de08prdf1t41033ja3bl47cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257673925904-mbis2ek8de08prdf1t41033ja3bl47cb</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ahtoqOiaWLU3l8ootsArd8POjogcwes</string>
	<key>GCM_SENDER_ID</key>
	<string>257673925904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGeneral</string>
	<key>PROJECT_ID</key>
	<string>bookstore-d2134</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-d2134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257673925904:ios:343b255737539d54d30195</string>
</dict>
</plist>